#Stuff we wouldn't want in the repo
*.Rproj.user
*.Rhistory
*.RData
*.nex
*.Ruserdata
*.DS_Store
*.psd
*.rds
*.rda

#Except this data needed in Rmarkdown regeneration
!data/MCC.DR.top.rds
!data/MCC.ND.top.rds
!data/MCC.Lambda.top.rds
!data/MCC.Mu.top.rds
!data/hpd.DR.top.rds
!data/hpd.ND.top.rds
!data/Armenta.hpd.DR.top.rds
!data/Subset.MCC.DR.top.rds
!data/Subset.MCC.ND.top.rds
!data/Subset.MCC.Lambda.top.rds
!data/Subset.hpd.DR.top.rds
!data/Subset.hpd.ND.top.rds
!data/Subset.hpd.Lambda.top.rds
!data/MCC.BAMM.df.rds
!data/path_model.rds

#And these 4 figures
!Figures/ModelEstimates.pdf
!Figures/DRSpeciationFigure.pdf
!Figures/Path_Analysis.pdf

Manuscript.docx
Manuscript.Rmd
Manuscript.pdf
Sexual_Selection_and_Speciation_cache/
Sexual_Selection_and_Speciation_files/
.Rproj.user
data/BAMM_MCC/
Figures/
bamm_extinction/data/bamm_files/
bamm_extinction/data/full_passerines/
data/trees/

#Big files (just in case): Use: find ./* -size +100M | cat >> .gitignore
./Figures/BigSpeciationPlot.psd
./Figures/DRSpeciationFigure.ai
./Figures/SpeciationFigure.ai
./Sexual_Selection_and_Speciation_cache/html/unnamed-chunk-31_b15c755a88a4c8594832c9a5e181e799.rdb
./Sexual_Selection_and_Speciation_cache/html/unnamed-chunk-35_7603cdca3bd8a90f397375b4b7c9bc2d.rdb
./Sexual_Selection_and_Speciation_cache/html/unnamed-chunk-21_c63b080ce1a989d84b2657ea67fb47a8.rdb
./Sexual_Selection_and_Speciation_cache/html/unnamed-chunk-41_8d5075345a6972482840eb1e2ac5fcd7.rdb
./Sexual_Selection_and_Speciation_cache/html/unnamed-chunk-58_67a80ed21565b2bef8f9969341c31e2c.rdb
./Sexual_Selection_and_Speciation_cache/html/unnamed-chunk-28_f4c9a4d598aaa30611602dced0af89a7.rdb
./Sexual_Selection_and_Speciation_cache/html/unnamed-chunk-24_8770cf282a07c995bd059b65b49579e9.rdb
./Sexual_Selection_and_Speciation_cache/html/unnamed-chunk-49_086b1a2acd5e7934e4baac77a4b0998d.rdb
./bamm_extinction/data/trees/tenthousand.nex
./bamm_extinction/data/trees/genetic_2500.nex
./bamm_extinction/data/trees/passerine_2500.nex
./bamm_extinction/data/full_passerines/Test5/tree_8950_event_data.txt
./data/MCC.DR.corPagel.rds
./data/MCC.BAMM.ED.rds
./data/Hackett_split_eventsample.rda
./data/Armenta.DR.pgls.models.rds
./data/BAMM.lambda.pgls.models.rds
./data/BAMM.mu.pgls.models.rds
./data/MCC.ND.corPagel.rds
./data/BAMM_MCC/tree_MCC_event_data.txt
