#Stuff we wouldn't want in the repo
*.Rproj.user
*.Rhistory
*.RData
*.nex
*.Ruserdata
*.DS_Store
*.psd
*.rds
*.rda
*.ai
*.svg
Manuscript.docx
Manuscript.Rmd
Manuscript.pdf
Sexual_Selection_and_Speciation_cache/
Sexual_Selection_and_Speciation_files/
.Rproj.user
data/BAMM_MCC/
Figures_old/
bamm_extinction/data/bamm_files/
bamm_extinction/data/full_passerines/
data/trees/
#Except this data needed in Rmarkdown regeneration
!data/MCC.DR.top.rds
!data/MCC.ND.top.rds
!data/MCC.Lambda.top.rds
!data/MCC.Mu.top.rds
!data/hpd.DR.top.rds
!data/hpd.ND.top.rds
!data/Armenta.hpd.DR.top.rds
!data/Subset.MCC.DR.top.rds
!data/Subset.MCC.ND.top.rds
!data/Subset.MCC.Lambda.top.rds
!data/Subset.hpd.DR.top.rds
!data/Subset.hpd.ND.top.rds
!data/Subset.hpd.Lambda.top.rds
!data/MCC.BAMM.df.rds

!data/Subset.ND.pgls.summaryA.rds
!data/Subset.ND.pgls.summary_mating.rds
!data/Subset.ND.pgls.summary_paternal.rds
!data/Subset.DR.pgls.summary_sswing.rds
!data/Subset.DR.pgls.summary_mating.rds
!data/Subset.DR.pgls.summary_paternal.rds
!data/Subset.Lambda.pgls.summaryB.rds
!data/Subset.Lambda.pgls.summary_mating.rds
!data/Subset.Lambda.pgls.summary_paternal.rds

!data/path_model.rds
#Correlations
!data/all.trees.correlations.rds
!data/Harvey.vs.us.rds
#Big model summaries
!DR.pgls.summary.rds
!ND.pgls.summary.rds
!Subset.DR.pgls.summary.rds
!Subset.ND.pgls.summary.rds
#And these 4 figures
!Figures/Estimates_and_scatter_edit.pdf
!Figures/DRSpeciationFigure.pdf
!Figures/Path_Analysis.pdf
#Big files (just in case): Use: find ./* -size +100M | cat >> .gitignore
./Figures_old/BigSpeciationPlot.psd
./Figures_old/DRSpeciationFigure.ai
./Figures_old/SpeciationFigure.ai
./Sexual_Selection_and_Speciation_cache/html/BAMM wrangling_ba7e7cc1f4216044101d33aedab2150c.rdb
./Sexual_Selection_and_Speciation_cache/html/MCC DR and ND lambda_4e12cca71e206633598abbc33094e0af.rdb
./Sexual_Selection_and_Speciation_cache/html/Hackett Data_599c5385cec4833748fd45ca2d5e1ca3.rdb
./Sexual_Selection_and_Speciation_cache/html/CSS_cf26b5461383a80dbc5bdc03edd9f0b8.rdb
./Sexual_Selection_and_Speciation_cache/html/SS plots_31035eb1bbbd5447eb6a7341b34d84b1.rdb
./Sexual_Selection_and_Speciation_cache/html/Armenta plots_278eb8876960d0fbeb3e765575d259a1.rdb
./Sexual_Selection_and_Speciation_cache/html/BAMM plots_ef2f5d48d5d10da844f2b99805a22a41.rdb
./bamm_extinction/data/trees/tenthousand.nex
./bamm_extinction/data/trees/genetic_2500.nex
./bamm_extinction/data/trees/passerine_2500.nex
./bamm_extinction/data/full_passerines/Test5/tree_8950_event_data.txt
./data/trees/thousand_trees.rds
./data/trees/tenthousand.nex
./data/trees/genetic_2500.nex
./data/trees/passerine_2500.nex
./data/MCC.DR.corPagel.rds
./data/MCC.BAMM.ED.rds
./data/MCC.BAMM.ED.Constant.rds
./data/Hackett_split_eventsample.rda
./data/Armenta.DR.pgls.models.rds
./data/BAMM.lambda.pgls.models.rds
./data/BAMM.mu.pgls.models.rds
./data/MCC.ND.corPagel.rds
./data/BAMM_MCC/tree_MCC_event_data.txt
./data/BAMM_MCC/TimeConstant/tree_MCC_Constant_event_data.txt
title_page.Rmd
title_page.pdf
